
:root
{
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
}

.
{
    margin: 0;
    padding: 0;
}

main
{
    padding: var(--spacing-small);
    height: 100vh;
}

section:first-child
{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading
{
    padding: var(--spacing-small);
}

.container
{
    width: 600px;
    height: auto;
    border-radius: var(--spacing-small);
    box-shadow: 0 0 5px purple;
}

.unit-group
{
    display: flex;
    gap: var(--spacing-large);
}

.unit-control
{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin-bottom: var(--spacing-small);
}

.unit-control label
{
    font-size: 13px;
    margin-bottom: var(--spacing-small);
}

.unit-control input
{
    height: 20px;
    font-size: var(--spacing-medium);
    padding-left: var(--spacing-small);
    border-radius: var(--spacing-medium);
}

.btn-primary
{
    background-color: rgb(34, 0, 128);
    color: whitesmoke;
    border: none;
}

.btn-primary:hover
{
    cursor: pointer;
}

.paper-img-group
{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: var(--spacing-small);
}

.paper-card
{
    border: 1px solid black;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 0 5px purple;
    border-radius: var(--spacing-small);
}

.paper-body
{
    padding: var(--spacing-small);
}

.paper-body h4
{
    margin-bottom: var(--spacing-medium);
}

.plural
{
    margin-bottom: var(--spacing-medium);
    font-size: 0.9em;
}

.btn-group
{
    display: flex;
    gap: var(--spacing-small);
}

button
{
    flex-grow: 1;
    height: 40px;
    border-radius: var(--spacing-medium);
}

.btn-add
{
    background-color: darkturquoise;
    color: whitesmoke;
    border: none;
}

.btn-add:hover
{
    cursor: pointer;
}

.btn-approved
{
    background-color: green;
    color: whitesmoke;
    border: none;
}

.btn-approved:hover
{
    cursor: pointer;
}

.btn-cancel
{
    background-color: red;
    color: whitesmoke;
    border: none;
}

.btn-cancel:hover
{
    cursor: pointer;
}

.error-prompt
{
    border: 1px solid red;
}

#ShowTasks
{
    display: flex;
    gap: var(--spacing-medium);
    flex-wrap: wrap;
}